// TODO: make repeating properties into variables or use @use 
* 
    box-sizing: border-box
html
    scroll-behavior: smooth
    a
        text-decoration: none
        color: unset
#home
    #canvas3d
        height: 500px
        width: 500px
        aspect-ratio: 1
    #canvasTextContainer
        text-align: left
        margin: .5em
        top: 2em
        padding: 2em
        text-shadow: 2px 2px 10px #00000086
    .home-header
        margin: 0
        margin-bottom: 1em
        span
            font-size: 3.5rem
    .home-header-subtext
        padding-top: 0
        padding-left: 0
        font-size: 2.25rem
#home, #projects, #mySkills
    min-height: 800px
    display: flex
    flex-direction: column
    align-items: center

.gradient-border
    background: linear-gradient(#A0DEEA, #F8B266)
    margin: .5em
        top: 5em
    border-radius: 40px
    padding: 5px
    width: calc( 12em + #{5px} )
    .page-scroll-button
        border-radius: 40px
        padding: 0.5em 1em
        background-color: #DFC5A7
        color: #FFF
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
.circle-container
    .circle
        position: absolute
        z-index: -1
        width: 250px
        height: 250px
        border-radius: 50%
        filter: blur(50px)

.orange-circle1
    background-color: #F8B266
    transform: translateY(50px) translateX(-250px)

.orange-circle2
    background-color: #F8B266
    transform: translateY(50px) translateX(250px)

.aqua-circle
    z-index: -2
    background-color: #A0DEEA
    transform: translateY(50px)

.arrow-icon
    color: #C8E8FF

#ffdSection, #onlineTarotSection, #ilogSection, #dndSection
    display: flex
    flex-direction: column
    align-items: center
    p
        text-align: left
        margin: 0
        padding-top: 0

@media screen and ( min-width: 486px )
.circle
    width: 400px
    height: 400px

.orange-circle1
    transform: translateY(0px) translateX(-500px)

.orange-circle2
    transform: translateY(0px) translateX(500px)

.aqua-circle
    transform: translateY(0px)

.glass-effect
    background: linear-gradient(-40deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 38%, rgba(255,255,255,0.2) 100%)
    border-radius: 5em
    backdrop-filter: blur(5px)
    border: 1px solid rgba(255, 255, 255, 0.1)
