$font-white: #FFF
$button-color: #DFC5A7
$button-accent1: #A0DEEA
$button-accent2: #F8B266

header
    display: flex
    align-items: center

.artifact-keywords-container
    display: flex
    flex-direction: row
    justify-content: space-around
    $border-width: 5px
    $border-radius: 40px
    .gradient-border
        background: linear-gradient(#A0DEEA, #F8B266)
        margin: .5em
        border-radius: $border-radius
        padding: $border-width
        width: calc( 7.5em + #{$border-width} )
        .artifact-keywords
            border-radius: $border-radius
            padding: 0.5em 1em
            background-color: $button-color
            color: $font-white
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)

.section
    margin: 1em
    h2
        margin-bottom: 0
    .artifact-stats-headers
        font-weight: bold
    .contributors
        color: #0378cb

.artifact-extras
    margin-bottom: 3em

.artifact-image-title
    display: flex
    flex-direction: column
    align-items: center
    overflow-x: hidden
    width: 100%
    img
        margin-bottom: 1em
    h1
        margin-bottom: 0
