@use './colors'
@use './fonts'
html
    scroll-behavior: smooth

body
    h2
        margin-bottom: 0
        font-family: fonts.$main-font

header
    display: flex
    align-items: center

.artifact-keywords-container
    display: flex
    flex-direction: row
    justify-content: space-around
    font-family: fonts.$main-font
    $border-width: 5px
    $border-radius: 40px
    padding:
        left: 10em
        right: 10em
    .gradient-border
        background: linear-gradient(colors.$button-accent1, colors.$button-accent2)
        margin: .5em
        border-radius: $border-radius
        padding: $border-width
        width: calc( 7.5em + #{$border-width} )
        .artifact-keywords
            border-radius: $border-radius
            padding: 0.5em 1em
            background-color: colors.$button-color
            color: colors.$font-white
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)

.section
    margin: 1em
    .artifact-stats-headers
        font-weight: bold
    .contributors
        color: colors.$ffdc-color

.artifact-stats
    p
        font-family: fonts.$main-font

.artifact-process, .artifact-challenges, .artifact-extras
    font-family: fonts.$main-font

.artifact-extras
    margin-bottom: 3em

.artifact-image-title
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    font-family: fonts.$accent-font
    img
        margin: .5em
            margin-bottom: 1em
        filter: drop-shadow(0 0 2rem colors.$ffdc-color)
    h1
        margin-bottom: 0

@media screen and ( min-width: 1100px )
    .artifact-header
        display: flex
        flex-direction: row
        align-items: center
        text-align: left
        padding:
            left: 10em
            right: 10em
    .artifact-process, .artifact-challenges, .artifact-extras
        display: flex
        flex-direction: column
        text-align: left
        margin: 5em
            left: 5em
            right: 5em
        padding:
            left: 3em
            right: 10em

    .artifact-buttons-container
        .artifact-buttons
            margin: 2em

@media screen and ( min-width: 1600px )
    .artifact-header
        padding:
            left: 20em
            right: 20em
    .artifact-process, .artifact-challenges, .artifact-extras
        margin: 5em
            left: 20em
            right: 20em
    .artifact-keywords-container
        padding:
            left: 20em
            right: 20em
