@use './colors'
@use './fonts'

html
    min-height: 100vh

*
    box-sizing: border-box
    transition: all 1s ease

body
    height: 100%
    text-align: center
    background-color: #a5a5a5
    p
        color: colors.$font-white

.logo
    height: 3em
    width: 3em

nav
    font-family: fonts.$main-font
    ul
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        padding: 0
        list-style-type: none
        li a
                text-decoration: none
                color: colors.$font-white

h2, h1
    font-size: 3rem
    filter: drop-shadow(0 0 1em #00000076)

h1, h2, h3
    color: colors.$font-white
    font-family: fonts.$accent-font
    font-weight: 100

p
    margin: 0
    padding: 1em

.glass-effect
    background: linear-gradient(-40deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.211) 100%)
    border-radius: 5em
    backdrop-filter: blur(5px)
    border: 1px solid rgba(255, 255, 255, 0.355)


main
    min-width: min-content

.about-me
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-family: fonts.$main-font
    p
        color: colors.$font-white

.connect-columns
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    font-family: fonts.$main-font

.download-button, .artifact-buttons
    background-color: colors.$button-color
    border-radius: 40px
    border: none
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
    color: colors.$font-white
    width: 7.5em
    padding: 1em
    font-family: fonts.$main-font

.resume
    font-family: fonts.$main-font

.portrait
    border-radius: 200px
    max-height: 300px
    max-width: 200px
    margin: .5em
    filter: drop-shadow(0 0 2rem colors.$portrait-aura2) drop-shadow(0 0 4rem colors.$portrait-aura1)

.social-icons
    display: flex
    flex-wrap: wrap
    flex-direction: column
    align-items: center
    height: max-content
    img
        padding: 1em

.handles
    p
        padding: 1.25em
        a
            text-decoration: none
            color: colors.$font-white
            &:hover
                color: colors.$button-accent1

@media screen and ( min-width: 1000px )
    body
        margin: 1.5em
        height: 100vh
    .desktop
        display: flex
        justify-content: space-around
        height: 100%
    nav
        display: flex
        flex-direction: row
        justify-content: space-between
        padding: .5em
        ul
            justify-content: right
            li a
                    padding: 1em
    main
        display: flex
        width: 50%
        padding: 3em
        h1, h2
            margin: 0
            bottom: .5em
    .portrait
        max-height: 500px
        max-width: 400px    
