// TODO: give better name
// @import for font import
$font-white: #FFF
$button-color: #DFC5A7

*
    box-sizing: border-box

body
    text-align: center
    height: 100vh
    background-color: #BBBBBB
    p
        color: $font-white

nav
    .logo
        height: 75px
        width: 75px
    ul
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        padding: 0
        list-style-type: none
        li
            a
                text-decoration: none
                color: $font-white

h1, h2
    color: $font-white

p
    margin: 0
    padding: 1em

.glass-effect
    background: rgba(255, 255, 255, 0.1)
    border-radius: 1em
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
    backdrop-filter: blur(5px)
    border: 1px solid rgba(255, 255, 255, 0.18)

main
    min-width: min-content

.about-me
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    p
        color: $font-white

.download-button
    background-color: $button-color
    border-radius: 40px
    border: none
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
    color: $font-white
    width: 7.5em
    padding: 1em

.portrait
    max-height: 300px
    max-width: 200px

@media screen and ( min-width: 486px )
    .desktop
        display: flex
        justify-content: space-around
    nav
        ul
            justify-content: right

            li
                padding: 1em
    main
        display: flex
        width: 50%
        h1, h2
            margin: 0
    .portrait
        max-height: 500px
        max-width: 300px
    .about-me, .lets-connect
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
